<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    header{
        width: 100%;
        background: #222222;
        height: 62px;
    }
    .nft-header {
        width: 120px;
        cursor: pointer;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background: #191919;
    }

    a{
        text-decoration: none;
    }

    h2{
        width: 100px;
        position: relative;
        left: 180px;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #6A5ACD;
        text-decoration: none;
        transition: 1s;
    }
    h2:hover {
        color: #483D8B;
      }
    h1{

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #9370DB;
        text-decoration: none;
        transition: 1s;
    }
    h1:hover {
        color: #6A5ACD;
      }
</style>
<header>
    <!--    <img src="../NFT.png" class="nft-header">-->
     <a href="/main"> <h2>SocialClub </h2> </a>
</header>
<body>


<a href="/main"><h1>Hello, user</h1></a>

</body>
</html>
