<html>
<style>
    header{
        width: 100%;
        background: #222222;
        height: 62px;

    }
    .nft-header {
        width: 120px;
        cursor: pointer;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background: #191919;
    }

    a{
        text-decoration: none;
    }

    h2{
        width: 200px;
        position: relative;
        left: 180px;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #6A5ACD;
        text-decoration: none;
    }
    h1{

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-decoration: none;
    }
    .container-login {
       position: relative;
        margin: 100px 100px;


    }
    input[type=submit] {
        border-radius: 7px;
        position: absolute;
        padding: 15px 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        margin: -20px 90%;

        transition: 1s;
        background: #6A5ACD;
    }
    input[type=submit]:hover {
        background: #483D8B;
    }
    input[type=text] {
        border-radius: 7px;
        width: 100%;
        padding: 20px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    input[type=password] {
        border-radius: 7px;
        width: 100%;
        padding: 20px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    button[type=submit] {
        border: none;
        border-radius: 7px;
        padding: 15px 83px;
        background: #6A5ACD;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        transition: 1s;
        margin: 10px 0px;
      }
        button[type=submit]:hover {
        background: #483D8B;
      }
      button[name="addNY"] {
        border: 2px;
        border-radius: 7px;
        border-color: #000000;
        padding: 15px 55px;
        background: white;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        transition: 1s;
      }
        button[name="addNY"]:hover {
        background: #A9A9A9;
      }
      .container-messages {
        color: white;
        border: 7px white;
        border-radius: 7px;
        padding: 15px 55px;
        background: #222222;
        text-decoration: none;
        margin-top: 10px;
    }
</style>
<header>
    <!--    <img src="../NFT.png" class="nft-header">-->
    <a href="/main"> <h2>SocialClub </h2> </a>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</header>
<body>
<div class="container-login">
    <div>
        {{#messages}}
            <div class="container-messages">
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
            </div>
        {{/messages}}
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщение" />
            <input type="text" name="tag" placeholder="Тэг">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Добавить</button>
        </form>
    </div>

    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="🔎Найти сообщение" >
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>

</div>
</body>
</html>