header{
        width: 100%;
        background: #222222;

        height: 62px;
    }
    .nft-header {
        width: 120px;
        cursor: pointer;
    }
     .play-header {
        width: 50px;
        margin: 13px -10px;
        cursor: pointer;
        border-radius: 6px;
    }
    *{
        margin: 0;
        padding: 0;
    }